canvas {
  display: block;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  width: 100vw;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}